<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EnduranceMapper">

	<resultMap type="com.ruoyi.system.domain.Statistics" id="StatisticsResult">
		<id     property="id"        column="id"       />
		<result property="brandId"      column="brand_id"     />
		<result property="brandName"      column="brand_name"     />
		<result property="chipName"      column="chip_name"     />
		<result property="aov"        column="aov"        />
		<result property="gi"      column="gi"     />
		<result property="camera"    column="camera"   />
		<result property="bilibili"      column="bilibili"     />
		<result property="standby"    column="standby"   />
		<result property="weibo"        column="weibo"        />
		<result property="chicken"        column="chicken"        />
		<result property="residue"        column="residue"        />
		<result property="phoneType"        column="phone_type"        />
		<result property="createTime"        column="create_time"        />
		<result property="updateTime"        column="update_time"        />
	</resultMap>


	<select id="selectEnduranceList" parameterType="com.ruoyi.system.domain.Statistics" resultType="com.ruoyi.system.domain.Statistics">
		select
		t1.id,
		t1.brand_id as brandId,
		t1.aov,
		t1.gi,
		t1.camera,
		t1.bilibili,
		t1.standby,
		t1.weibo,
		t1.chicken,
		t1.residue,
		t1.phone_type as phoneType,
		t1.create_time AS createTime,
		t1.update_time AS updatetTime,
		t1.create_by AS createBby,
		t1.update_by AS updateBy,
		t1.brand_id as selectedModel,
		t2.model_name as brandName,
		t2.processor_model as chipName
		from statistics t1
		left join mobile_basic_data t2 on t1.brand_id=t2.model_id
		<where>
			<if test="brandName != null and brandName != ''">
				AND t2.model_name like concat('%', #{brandName}, '%')
			</if>
			<if test="chipName != null and chipName != ''">
				AND t2.processor_model like concat('%', #{chipName}, '%')
			</if>
			<if test="phoneType != null and phoneType != ''">
				AND t1.phone_type = #{phoneType}
			</if>
		</where>
        order by residue desc
	</select>

    <select id="selectStatisticsById" resultType="com.ruoyi.system.domain.Statistics">
		select
			t1.id,
			t1.brand_id as brandId,
			t1.aov,
			t1.gi,
			t1.camera,
			t1.bilibili,
			t1.standby,
			t1.weibo,
			t1.chicken,
			t1.residue,
			t1.phone_type as phoneType,
			t1.create_time AS createTime,
			t1.update_time AS updatetTime,
			t1.create_by AS createBby,
			t1.update_by AS updateBy,
			t1.brand_id as selectedModel,
			t2.model_name as brandName,
			t2.processor_model as chipName
		from statistics t1
		left join mobile_basic_data t2 on t1.brand_id=t2.model_id
        where t1.id = #{id}
	</select>
    <select id="selectByBrandId" resultType="java.lang.Integer">
		select count(1) from statistics where brand_id = #{brandId}
	</select>

	<select id="selectByBrandIds" resultType="java.lang.Integer">
		select count(1) from statistics where brand_id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

    <insert id="insertStatistics" parameterType="com.ruoyi.system.domain.Statistics" useGeneratedKeys="true" keyProperty="id">
		insert into statistics
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="selectedModel != null">brand_id,</if>
			<if test="aov != null">aov,</if>
			<if test="gi != null">gi,</if>
			<if test="camera != null">camera,</if>
			<if test="bilibili != null">bilibili,</if>
			<if test="standby != null">standby,</if>
			<if test="weibo != null">weibo,</if>
			<if test="chicken != null">chicken,</if>
			<if test="residue != null">residue,</if>
			<if test="phoneType != null">phone_type,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateTime != null">update_time,</if>
			<if test="createBy != null">create_by,</if>
			<if test="updateBy != null">update_by,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="selectedModel != null">#{selectedModel},</if>
			<if test="aov != null">#{aov},</if>
			<if test="gi != null">#{gi},</if>
			<if test="camera != null">#{camera},</if>
			<if test="bilibili != null">#{bilibili},</if>
			<if test="standby != null">#{standby},</if>
			<if test="weibo != null">#{weibo},</if>
			<if test="chicken != null">#{chicken},</if>
			<if test="residue != null">#{residue},</if>
			<if test="phoneType != null">#{phoneType},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="updateBy != null">#{updateBy},</if>
		</trim>
	</insert>

	<update id="updateStatistics" parameterType="com.ruoyi.system.domain.Statistics">
		update statistics
		<trim prefix="SET" suffixOverrides=",">
			<if test="selectedModel != null">brand_id = #{selectedModel},</if>
			<if test="aov != null">aov = #{aov},</if>
			<if test="gi != null">gi = #{gi},</if>
			<if test="camera != null">camera = #{camera},</if>
			<if test="bilibili != null">bilibili = #{bilibili},</if>
			<if test="standby != null">standby = #{standby},</if>
			<if test="weibo != null">weibo = #{weibo},</if>
			<if test="chicken != null">chicken = #{chicken},</if>
			<if test="residue != null">residue = #{residue},</if>
			<if test="phoneType != null">phone_type = #{phoneType},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="createBy != null">create_by = #{createBy},</if>
			<if test="updateBy != null">update_by = #{updateBy},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteStatisticsById" parameterType="Long">
		delete from statistics where id = #{id}
	</delete>

	<delete id="deleteStatisticsByIds" parameterType="String">
		delete from statistics where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>